<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eldridge.twitsync"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.eldridge.twitsync.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.eldridge.twitsync.permission.C2D_MESSAGE" />

    <uses-permission
            android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".app.TwitSyncApplication" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AuthActivity"
            android:label="Authentication" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="twittersync" android:scheme="callback"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TweetDetailActivity"
            android:label="T@string/tweet_details_ab_title">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
        </activity>

        <receiver android:name=".receiver.UpdateReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.eldridge.twitsync" />
            </intent-filter>
        </receiver>
        <service android:name=".service.GcmIntentService"/>

        <meta-data android:name="AA_DB_NAME" android:value="twitsync.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

    </application>

</manifest>
